<!DOCTYPE html>
<html lang="en">
  <head v="12">
    <meta charset="UTF-8" />
         <meta name="renderer" content="webkit|ie-comp|ie-stand">
     <meta name="renderer" content="webkit">
<meta name="renderer" content="webkit"><!-- 避免IE使用兼容模式 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{:C('webtitle')}</title>
  <meta name="keywords" content="{:C('webkeywords')}" /> 
  <meta name="description" content="{:C('webdescription')}" />  <link rel="stylesheet" href="__HOMESTYLE__/css/main.css" />
    <link rel="stylesheet" href="__HOMESTYLE__/css/swiper.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=yes" />
    <script type="text/javascript" src="__HOMESTYLE__/js/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript" src="__HOMESTYLE__/js/calendar.min.js" ></script>
    <script type="text/javascript" src="__HOMESTYLE__/js/swiper-3.4.2.jquery.min.js" ></script>
    <script type="text/javascript" src="__HOMESTYLE__/js/main.js" ></script>
    <script src="__HOMESTYLE__/js/ntog.js"></script>
  </head>
  <body>
    <!-- 头部 -->
    <div id="header">
	<div class="head">郑重承诺：30年八字起名经验，起名专业权威，已为近十万名宝宝起名，好评率高达99.9%</div>
	<div class="head_01"><div class="w1000"><img src="/Public/Home/images/head_01.png"></div></div>
    </div>
    <div id="nav">
      <div class="min-width">
        <ul>		
            <li><a href="{:C('weburl')}">首页</a></li>
            <li><a href="{:C('weburl')}#place-order">起名简介</a></li>
            <li><a href="{:C('weburl')}#problem">常见问答</a></li>
            <li><a href="{:C('weburl')}#evaluate">客户评价</a></li>
            <li><a  href="{:U('order/pchistory')}">订单查询</a></li>
	        <li><a href="{:C('weburl')}#place-order">立即起名</a></li>		
	        <li><a href="{:C('weburl')}#place-order">易经取名</a></li>					
        </ul>
      </div>
    </div>
    
    <block name="main"></block>

    <div style="display:none"> <script src="__HOMESTYLE__/js/z_stat.js" language="JavaScript"></script> </div>
    <div id="footer">
      <div class="min-width">
		<p> 易起起名网提供技术支持 
        <br>微信客服：limiii</p>
      </div>
    </div>
    <script type="text/javascript" src="__HOMESTYLE__/js/my.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?0bdf06a4b1dc4e6235278d8f71b0e965";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
  </body>
</html>
