<extend name="Public/base"/>
<block name="main">
<link rel="stylesheet" type="text/css" href="__HOMESTYLE__/css/style.css"/>
<style>
    .sm_form li{ overflow:none; border-bottom: 1px solid #f3e6d3; height:auto; line-height: inherit }
    .imgs{width:100%}
    .form_t{display:block !important;background:none !important;border-bottom:1px solid #efefef;}
    .names{display:inline-block;padding:0.3rem 0.75rem;background:#F5E2C3;margin:0.2rem 0.3rem;}
    .gb11-1{    height: 12px;    width: 90%;    border: 1px solid #b7870b;    margin: 5px;}
    .gb12-1{height: 100%;    background: #b7870b;}
    .gb11-2 {    height: 12px;    width: 90%;    border: 1px solid #017f01;    margin: 5px;}
    .gb12-2 {    height: 100%;    background: #017f01;}
    .gb11-3 {    height: 12px;    width: 90%;    border: 1px solid #0073ce;    margin: 5px;}
    .gb12-3 {    height: 100%;    background: #0073ce;}
    .gb11-4 {    height: 12px;    width: 90%;    border: 1px solid #e35722;    margin: 5px;}
    .gb12-4 {    height: 100%;    background: #e35722;}
    .gb11-5 {    height: 12px;    width: 90%;    border: 1px solid #a77c5c;    margin: 5px;}
    .gb12-5 {    height: 100%;    background: #a77c5c;}
    .co1{color:#f00;}
    .co2{color:#976A3C;}
    .co3{color:#1c9916;}
    .bd {    font-weight: bold;}
	.gbtb td{border:none;padding:3px;width:87%}
    .pa_le20{background:#986A3A;color:#fff;}
    .table1{margin:0 auto;width:998px;font-weight:normal;}
    .table1 td{padding:0 15px;font-size:15px;height:45px !important}
    .td3 {text-align:center !important;}

#all {
  text-align: center;
 height: 30px;
 width: 310px;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
}
   
</style>
<div class="main">
  <div class="container"> <br/>
    <div class="qmSect qmOntent m_b_20" id='box1' style='margin:0 auto;background:#fff;'>
      <table class='table1'>
      </table>
    </div>
  </div>
  <div class="qim"></div>
  <div class="table1" id="xmlist"> 
    <foreach name="fullname" item="v">
    <a target="_blank" class="xm1" href="{:U('order/minfo', array('xing'=>$name, 'ming'=>$v['ming'], 'score'=>$v['score']))}"> 
        <span class="xing">{$name}</span> <span class="ming">{$v.ming}</span> <span class="details">查看详情</span> 
    </a>  
   </foreach>
    <div class="clear"></div>
  </div>
<br>
  <br>
<!--  <div style="display: inline-block; width: 200px;height: 100px;text-align: center;background: red;">
 <div class="huany " style=''  onclick='getmlist(1)'> 上一页 </div>
 <div class="huany huany1" style=''  onclick='getmlist(2)'> 下一页 </div>
 </div> -->
 <div id="all">
  <div id="left" onclick='getmlist(1)' class="huany">上一页 </div>
  
  <div id="right" onclick='getmlist(2)' class="huany">下一页</div>
</div>
  <br>
  <br>
  <br>
</div>
<div class="clear"></div>
<script>
  var page = 1;
  function getmlist(Paging){
    var orderno = "{$orderno}";  
    var content = '';
    if(Paging==1){
      if(page>1){
        page = page-1;
      }else{
         alert('没有上一页了');
         return;
      
      }
    }else{
      page = page+1;   
    }
   
    $.ajax({ 
      url: "{:U('order/getmlist')}", 
      data: "orderno={$orderno}&page="+page,
      dataType: "json", 
      success: function(msg){
         console.log(page);
          len = msg.length; 
          for(i=0; i<len; i++){
              content += '<a target="_blank" class="xm1" href="/order/minfo/xing/'+msg[0]['xing']+'/ming/'+msg[i]['ming']+'/score/'+msg[i]['score']+'.html"> ';
              content +='        <span class="xing">'+msg[0]['xing']+'</span> ';
              content +='        <span class="ming">'+msg[i]['ming']+'</span> ';
              content +='        <span class="details">查看详情</span> ';
              content +='</a> ';
          }
         
          if(len < 100){
              page = page-1; 
             $("#right").html("没有了哦！");
              /*$("#right").removeAttr("onclick");*/
             
              return;
          }else{
            $("#right").html("下一页");
          }
          content += '<div class="clear"></div>';
          $("#xmlist").html(content);

      }
    });

  }

    var id=1;
    var all=0;

    function g(step){
        $("#nexts").show();
        id=id+step;
        if(id>1){$("#backs").show();}else{$("#backs").hide();}
        if(id==0){id=1;return;}
        if(id==all){
            id=all-1;
            $("#nexts").hide();
            return;}
        
        $(".box").hide();
        $('#box'+id).show();
    }
    $(function(){
         $("#backs").click(function(){  g(-1) })
         $("#nexts").click(function(){  g(1) })
    })
   $("img").error(function(){
        $(this).hide();
   });
   setTimeout(function(){$('body').css('background','')},1000);

   $('#box1 tr td:eq(0),#box1 tr:eq(0) td:eq(1)').attr('nowrap','nowrap');

   $('.name').click(function(){

   })

   $('.names').click(function(){
       var t=$(this).text();
      //window.open('/qiming/get_detail_a/get_info?xing='+t.substr(0,1)+'&ming='+t.substr(1));return;
      window.open('{:U("order/minfo")}?xing='+t.substr(0,1)+'&ming='+t.substr(1));
      return;
     
    });
   
    $('.table1 tr:gt(8) td').css('textAlign','left');
</script>
</block>