<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>微信支付</title>
        <script type="text/javascript">
   	<?php if (isset($jsApiParameters)) {?>
	//调用微信JS api 支付
	function jsApiCall()
	{
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			<?php echo $jsApiParameters; ?>,
			function(res){
				// WeixinJSBridge.log(res.err_msg);
				// 
				// document.getElementsByTagName('body')[0].innerHTML = res.err_msg;
				if (res.err_msg=='get_brand_wcpay_request:ok') {
					alert('支付成功');
					window.location.href = '<?php echo $successurl; ?>';
				}else{
					// alert(res.err_code+"\n"+res.err_desc+"\n"+res.err_msg);
					alert('支付失败');
					window.location.href = '<?php echo $errorurl; ?>';
				}
			}
		);
	}
   	<?php }?>

	function callpay()
	{
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall);
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}
        </script>
        <script type="text/javascript">
	<?php if (isset($editAddress)) {?>
    //获取共享地址
	function editAddress()
	{
		WeixinJSBridge.invoke(
			'editAddress',
			<?php echo $editAddress; ?>,
			function(res){
				var value1 = res.proviceFirstStageName;
				var value2 = res.addressCitySecondStageName;
				var value3 = res.addressCountiesThirdStageName;
				var value4 = res.addressDetailInfo;
				var tel = res.telNumber;

				alert(value1 + value2 + value3 + value4 + ":" + tel);
			}
		);
	}
	<?php }?>
	window.onload = function(){

   		<?php if (isset($jsApiParameters)) {?>
		callpay();
   		<?php }?>

   		<?php if (isset($editAddress)) {?>
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', editAddress, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', editAddress);
		        document.attachEvent('onWeixinJSBridgeReady', editAddress);
		    }
		}else{
			editAddress();
		}
   		<?php }?>
	};
        </script>
    </head>
    <body>
    </body>
</html>