<!DOCTYPE html>
<html lang="en">
  <head v="12">
    <meta charset="UTF-8" />
    <title>{:C('webtitle')}</title>
    <link rel="stylesheet" href="__HOMESTYLE__/css/main.css" />
    <link rel="stylesheet" href="__HOMESTYLE__/css/swiper.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2, user-scalable=yes" />
    <script type="text/javascript" src="__HOMESTYLE__/js/jquery-1.11.1.min.js" ></script>
    <script type="text/javascript" src="__HOMESTYLE__/js/calendar.min.js" ></script>
    <script type="text/javascript" src="__HOMESTYLE__/js/swiper-3.4.2.jquery.min.js" ></script>
    <script type="text/javascript" src="__HOMESTYLE__/js/main.js" ></script>
    <script src="__HOMESTYLE__/js/ntog.js"></script>
  </head>
  <body>
    <!-- 头部 -->
    <div id="header">
      <div class="min-width">
        <div class="logo"> <a href="#"><img src="__HOMESTYLE__/picture/logo.png" /></a> </div>
        <div class="text"> <img src="__HOMESTYLE__/picture/index_01.png" /> </div>
        <div class="phone"> </div>
      </div>
    </div>
    <div id="nav">
      <div class="min-width">
        <ul>
            <li><a href="{:C('weburl')}">首页</a></li>
            <li><a href="{:C('weburl')}#why-select">起名优势</a></li>
            <li><a href="{:C('weburl')}#place-order">马上起名</a></li>
            <li><a href="{:C('weburl')}#problem">常见问答</a></li>
            <li><a href="{:C('weburl')}#evaluate">客户评价</a></li>
            <li><a  href="{:U('order/pchistory')}">历史订单</a></li>
            <li><a href="http://www.88yifu.com" target="_blank">大师起名</a></li>
        </ul>
      </div>
    </div>
    
    <block name="main"></block>

    <div style="display:none"> <script src="__HOMESTYLE__/js/z_stat.js" language="JavaScript"></script> </div>
    <div id="footer">
      <div class="min-width">
        <p> {:C('webpccopy')} </p>
      </div>
    </div>
    <script type="text/javascript" src="__HOMESTYLE__/js/my.js"></script>

  </body>
</html>
